<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.wj.kstudy.mapper.BoardMapper"> 
	<resultMap type="com.wj.kstudy.dto.Board" id="board_resultMap">
		<result column="board_id" property="boardId"/>
		<result column="group_id" property="groupId"/>
		<result column="user_id" property="userId"/>
		<result column="view_cnt" property="viewCnt"/>
		<result column="reg_dtm" property="regDtm"/>
		<result column="reg_user" property="regUser"/>
	</resultMap>
	
	<!-- 스터디 그룹별 게시글 목록 가져오기 -->
	<select id="getPostList" parameterType="java.lang.Integer" resultMap="board_resultMap">
		select board_id, group_id, user_id, title, content, view_cnt, reg_dtm, reg_user
		from board where group_id=#{groupId}
		order by reg_dtm desc;
	</select>
	
	<select id="getPostListPaging" resultMap="board_resultMap">
		SELECT r1.* FROM (
			select board_id, group_id, user_id, title, content, view_cnt, reg_dtm, reg_user
			from board where group_id=#{groupId}
			order by reg_dtm desc) r1
		limit #{startPage}, #{recordsPerPage}
	</select>
	
	<select id="getPostListPaging2" resultMap="board_resultMap">
		SELECT r1.* FROM (
			select board_id, group_id, user_id, title, content, view_cnt, reg_dtm
			from board where group_id=#{groupId}
			<if test="keyword != null">
				and title like concat('%',#{keyword},'%')
			</if>
			order by reg_dtm desc) r1
		limit #{skip}, #{recordsPerPage}
	</select>
	
	<!-- 제목+내용 검색 결과 -->
	<select id="getPostListTCPaging" resultMap="board_resultMap">
		SELECT r1.* FROM (
			select board_id, group_id, user_id, title, content, view_cnt, reg_dtm, reg_user
			from board where group_id=#{groupId} and (title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%'))
			order by reg_dtm desc) r1
		limit #{skip}, #{recordsPerPage}
	</select>
	
	<!-- 작성자 검색 결과 -->
	<select id="getPostListWPaging" resultMap="board_resultMap">
		SELECT r1.* FROM (
			select board_id, group_id, user_id, title, content, view_cnt, reg_dtm, reg_user
			from board where group_id=#{groupId} and reg_user like concat('%',#{keyword},'%')
			order by reg_dtm desc) r1
		limit #{skip}, #{recordsPerPage}
	</select>
	
	<!-- 게시글 하나 가져오기 -->
	<select id="getPost" parameterType="java.lang.Integer" resultMap="board_resultMap">
		select board_id, group_id, user_id, title, content, view_cnt, reg_dtm, reg_user
		from board where board_id=#{boardId}
	</select>
	
	<!-- 게시글 추가 -->
	<insert id="insertPost" parameterType="com.wj.kstudy.dto.Board">
		insert into board(group_id, user_id, title, content, view_cnt, reg_dtm, reg_user) values(#{groupId}, #{userId}, #{title}, #{content}, 0, now(), #{regUser})
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="deletePost" parameterType="java.lang.Integer">
		delete from board where board_id=#{boardId}	
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updatePost" parameterType="com.wj.kstudy.dto.Board">
		update board
		set title=#{title}, content=#{content}
		where board_id=#{boardId}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="plusViewCnt" parameterType="java.lang.Integer">
		update board
		set view_cnt=view_cnt+1
		where board_id=#{boardId}
	</update>
		
	<!-- 제목+내용 검색 결과 개수 -->
	<select id="getTotalTC" resultType="java.lang.Integer">
		select count(*) from board 
		where group_id=#{groupId} and (title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%'))
	</select>
	
	<!-- 작성자 검색 결과 개수 -->
	<select id="getTotalW" resultType="java.lang.Integer">
		select count(*) from board 
		where group_id=#{groupId} and reg_user like concat('%',#{keyword},'%') 
	</select>
	 
</mapper>