<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.wj.kstudy.mapper.StudyGroupMapper"> 
	<resultMap type="com.wj.kstudy.dto.StudyGroup" id="studyGroup_resultMap">
		<result column="group_id" property="groupId"/>
		<result column="lec_id" property="lecId"/>
		<result column="lec_name" property="lecName"/>
		<result column="group_name" property="groupName"/>
		<result column="school_name" property="schoolName"/>
		<result column="short_dsc" property="shortDsc"/>
		<result column="long_dsc" property="longDsc"/>		
		<result column="cur_mem" property="curMem"/>
		<result column="max_mem" property="maxMem"/>
		<result column="reg_dtm" property="regDtm"/>
		<result column="reg_user" property="regUser"/>
		<result column="create_date" property="createDate"/>
		<result column="post_cnt" property="postCnt"/>
	</resultMap>


	<!-- 스터디 조회 -->
	<select id="getStudyGroup" parameterType="java.lang.String" resultMap="studyGroup_resultMap">
		select group_id, lec_id, lec_name, group_name, school_name, short_dsc, long_dsc, max_mem, create_date, reg_user, cur_mem
		from study_group
		where lec_id=#{lecId} and use_yn='y'
	</select>
	
	<!-- 스터디 조회 페이징 -->
	<select id="getStudyGroupPaging" resultMap="studyGroup_resultMap">
		SELECT sg.* FROM (
			select group_id, lec_id, lec_name, group_name, school_name, short_dsc, long_dsc, max_mem, create_date, reg_user, cur_mem
			from study_group
			where lec_id=#{lecId} and use_yn='y'
			order by create_date desc) sg
		limit #{start}, #{recordsPerPage}
	</select>
	

	<select id="getOneStudyGroup" resultMap="studyGroup_resultMap">
		select group_id, lec_id, lec_name, group_name, school_name, short_dsc, long_dsc, max_mem, create_date, reg_user, cur_mem, post_cnt
		from study_group
		where group_id=#{groupId}
	</select>

	<!-- 스터디 생성 -->
	<insert id="addStudyGroup" parameterType="com.wj.kstudy.dto.StudyGroup" useGeneratedKeys="true" keyProperty="groupId"> 
		insert into study_group(lec_id, lec_name, group_name, school_name, short_dsc, long_dsc, max_mem, reg_dtm, reg_user, cur_mem, create_date, use_yn, post_cnt) values(#{lecId}, #{lecName}, #{groupName}, #{schoolName}, #{shortDsc}, #{longDsc}, #{maxMem}, now(), #{regUser}, 0, now(), 'y', 0)
	</insert> 
	
	<!-- 현재 멤버 증가 -->
	<update id="addCurMember" parameterType="java.lang.Integer">
		update study_group
		set cur_mem = cur_mem+1
		where group_id=#{groupId}
	</update>
	
	<!-- 현재 멤버 감소 -->
	<update id="minusCurMember" parameterType="java.lang.Integer">
		update study_group
		set cur_mem = cur_mem-1
		where group_id=#{groupId}
	</update>
	
	<!-- 스터디 정보 수정 -->
	<update id="updateStudyGroup" parameterType="com.wj.kstudy.dto.StudyGroup">
		update study_group 
		set group_name=#{groupName}, school_name=#{schoolName}, max_mem=#{maxMem}, short_dsc=#{shortDsc}, long_dsc=#{longDsc}
		where group_id=#{groupId}
	</update>
	
	<delete id="deleteStudyGroup" parameterType="java.lang.Integer">
		delete from study_group where group_id=#{groupId}
	</delete>
	
	<update id="updateUseYn" parameterType="java.lang.Integer">
		update study_group
		set use_yn='n' 
		where group_id=#{groupId}
	</update>
	
	<update id="plusPostCnt" parameterType="java.lang.Integer">
		update study_group
		set post_cnt=post_cnt+1
		where group_id=#{groupId}
	</update>
	
	<update id="minusPostCnt" parameterType="java.lang.Integer">
		update study_group
		set post_cnt=post_cnt-1
		where group_id=#{groupId}
	</update>
	
	<!-- 진행중인 스터디 개수 카운트 -->
	<select id="countStudyGroup" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from study_group
		where lec_id=#{lecId} and use_yn='y'
	</select>
	
	
	<select id="myStudyGroup" resultMap="studyGroup_resultMap">
		SELECT sg.* FROM (
			select group_id, lec_id, lec_name, group_name, school_name, short_dsc, long_dsc, max_mem, create_date, reg_user, cur_mem
			from study_group
			WHERE reg_user=#{regUser} and use_yn='y'
			order by create_date desc) sg
		limit #{start}, #{recordsPerPage}
		
	</select>
	
	<select id="countMyStudyGroup" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from study_group
		where reg_user=#{regUser} and use_yn='y'
	</select>
	
	<select id="myJoinStudyGroup" resultMap="studyGroup_resultMap">
		SELECT sg.* FROM (
			select group_id, lec_id, lec_name, group_name, school_name, short_dsc, long_dsc, max_mem, create_date, reg_user, cur_mem
			from study_group
			WHERE group_id IN (SELECT group_id FROM group_reg_info WHERE reg_user=#{regUser})
			AND group_id NOT IN(SELECT group_id FROM study_group WHERE reg_user=#{regUser}) AND use_yn='y'
			order by create_date desc) sg
		limit #{start}, #{recordsPerPage}
	</select>
	
	<select id="countMyJoinStudyGroup" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from study_group
		WHERE group_id IN (SELECT group_id FROM group_reg_info WHERE reg_user=#{regUser})
		AND group_id NOT IN(SELECT group_id FROM study_group WHERE reg_user=#{regUser}) AND use_yn='y'
	</select>
	
</mapper>